<form action="https://getsimpleform.com/messages?form_api_token=adf4fc1f4792a0988549a317723d6c5c" method="POST" enctype="multipart/form-data" {{action "handleSubmit" on="submit" preventDefault=false}} >
{{#paper-card as |card|}}
{{!--   {{#card.header as |header|}}
    {{#header.avatar}}
      <img src="http://www.hanzevastcapital.nl/skins/default/images/hanzevast.png" alt="Hanzevast"/>
    {{/header.avatar}}
    {{#header.text as |text|}}
      {{#text.title}}Quintushuis{{/text.title}}
      {{#text.subhead}}Schweitzerlaan 12 Groningen{{/text.subhead}}
    {{/header.text}}
  {{/card.header}}
 --}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}Onderhoudsmelding Hanzevast{{/text.headline}}
      {{#text.subhead}}{{model.name}} Groningen{{/text.subhead}}
    {{/title.text}}
    {{title.media size="sm" src=model.src}}
  {{/card.title}}

  {{#card.content}}
    <input type="hidden" name="redirect_to" value={{concat origin (href-to "pand.success")}}/>
    <input type="hidden" name="pand" value={{model.name}}/>
    <div layout="" layout-sm="row">
      {{paper-input
        flex=50
        label="Naam"
        icon="person"
        value=account.naam
        isTouched=model.naamTouched
        autofocus=(not (v-get account 'isValid'))
        onChange=(action (mut account.naam))
        errors=(v-get account 'naam' 'messages')
        passThru=(hash name="naam")
      }}
      {{paper-input
        label="E-mail"
        flex=50
        type="email"
        icon="email"
        isTouched=model.emailTouched
        value=account.email
        onChange=(action (mut account.email))
        errors=(v-get account 'email' 'messages')
        passThru=(hash name="email")
      }}
    </div>
    <div layout="" layout-sm="row">
      {{paper-input
        flex=100
        label="Korte omschrijving *"
        autofocus=(v-get account 'isValid')
        isTouched=model.subjectTouched
        value=model.form.subject
        maxlength=50
        onChange=(action (mut model.form.subject))
        errors=(v-get model.form 'subject' 'messages')
        passThru=(hash name="omschrijving")
      }}
    </div>
    <div layout="" layout-sm="row">
      {{paper-input
        flex=100
        label="Locatie of ruimtenummer *"
        isTouched=model.locatieTouched
        value=model.form.locatie
        onChange=(action (mut model.form.locatie))
        errors=(v-get model.form 'locatie' 'messages')
        passThru=(hash name="locatie")
      }}
    </div>
    <div layout="" layout-sm="row">
      {{paper-input
        flex=100
        label="Details"
        textarea=true
        value=model.form.body
        onChange=(action (mut model.form.body))
        errors=(v-get model.form 'body' 'messages')
        passThru=(hash name="details")
      }}
    </div>
    <div layout="" layout-sm="row">
      <div class="flex">
        {{dom-attr image width="100%" height="auto"}}
      </div>
      {{paper-file-input
        flex=70
        label=""
        icon="add a photo"
        value=model.form.photo
        onImage=(action "handleImage")
        onChange=(action (mut model.form.photo))
        errors=(v-get model.form 'photo' 'messages')
        passThru=(hash accept="image/*" name="foto" capture="camera")
      }}
    </div>
  {{/card.content}}
  {{#card.actions}}
    {{#if (and (v-get account 'isValid') (v-get model.form 'isValid'))}}
      {{#paper-button type="submit" raised=true primary=true disabled=isSubmitting}}
        {{#if isSubmitting}}
          {{paper-icon "data usage" spin=true}}
        {{/if}}
        Verstuur melding
      {{/paper-button}}
    {{else}}
      {{paper-button onClick="triggerValidation" raised=true label="Verstuur melding"}}
    {{/if}}
{{!--     {{paper-input
      label="Verstuur"
      type="submit"
      onChange=null
    }} --}}
  {{/card.actions}}
{{/paper-card}}
</form>

{{!-- onClick=(route-action "sendEmail" (hash
      _cc=account.email
      titel=model.subject
      omschrijving=model.body
    ))
 --}}
{{outlet}}
